*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.baking
{
  height: 90vh;
  width: 100dvw;
  /* background-color: rgb(31, 31, 31) ;
 */
 text-align: center; 
  background-image: url("../../../../assets/lib/them/assets/img/auth_1_bg.jpg");
  background-size: contain;
  padding: 2%;
}
.btn
{
  background-color: rgb(23, 45, 80) ;
  height: 30px;
}
.btn:hover
{
  background-color: rgb(28, 48, 81) ;
  font-size: large;
}
/* input:hover
{
  font-size: large;
}
select:hover
{
  font-size: large;
} */
/* .form-group:hover
{
  font-size: large;

} */
.item
{
  background-color:white;
  width: 49%;
  float: left;
  height: 90%;
  /* margin: auto; */
  margin-top: 10px;
  margin-bottom: 20px;
  /* border-radius: 2%; */

}
.first
{
  width: 33%;
  float: right;
}
.second
{
  width: 67%;
  position: relative;
  background-color: rgb(96, 96, 96) ;
  opacity: .3;
}
.imgBackground
{
  width: 100%;
  height: 100%;

}
.logo
{
  width: 35%;
  height: 25%;
}
.clearfix
{
  clear: both;
}


.company
{
  position: absolute; /* Position the <p> element absolutely within its parent */
  margin: 0;
  color: white;
  padding-right: 0;
  top: 0; 
  right: 0;
  padding: 10px; 
  font-size:x-large;
  opacity: 1;
}

.input-error
{
  border: 1px solid black;
}
@media screen and (max-width : 1000px){

.item
{
  background-color:white;
  width: 40%;
  float: left;
  height: 90%;
  /* margin: auto; */
  margin: 10px;
  margin-top: 20px;
  border-radius: 2%;

}
.first
{
  width: 98%;
  float: right;
}
.second
{
  display: none;

}
.form-control
{
  margin-top: 10px;
}
.mt-lg-3
{
  margin-top:20px;

}
/* .lblremember
{
  margin-right: 40%;
} */
@media screen and (max-width : 700px){

  .baking
  {
  background-color: rgb(14, 11, 11) ;
  }
.item
{
  background-color:white;
  width: 98%;
  float: left;
  height: 95%;
  /* margin: auto; */
  margin: 5px;
  margin-top: 10px;
  border-radius: 2%;
}
.first
{
  width: 98%;
  float: right;
}
.second
{
  display: none;
}


.form-control
{
  margin-top: 10px;
}

.mt-lg-3
{
  margin-top: 20px;

}
}
}