

<div class="createDiv">

  <div class="tab-pane fade show active" id="rounded-corner-pills-icon-home" role="tabpanel" aria-labelledby="rounded-corner-pills-icon-home-tab" style="min-height:300px">

    <div class="card bg-light mb-3">
        <div class="card-body">
          <h3>{{ "Hr.Orgstructures" | translate }}</h3>
            <span class="button-space"></span>
          <span class="button-space"></span>
          <div class="above-buttons">
            <button (click)="expandAll()" class="btn btn-primary bottom-buttons-style ">{{ 'Hr.ExpandAll' | translate }}</button>
            <span class="button-space"></span>
            <button (click)="collapseAll()" class="btn btn-primary  bottom-buttons-style">{{ 'Hr.CollapseAll' | translate }}</button>
          </div>
          <span class="button-space"></span>
          <div class="container" *ngIf="branchData.length > 0">
            <p-tree [filter]="true" (nodeSelect)="setEdit($event)" [value]="treeData" class="w-full md:w-30rem" selectionMode="single" [(selection)]="selectedNode"></p-tree>
          </div>

  <form #formElement [formGroup]="formorgStruct" (ngSubmit)="onSubmit(formorgStruct)" class="form">

    <div class="form-group mt-5">
      <label for="branchId">{{ 'Hr.BranchId' | translate }}</label>
      <select #branchElement (change)="onBranchChange($event)"   id="branchId" formControlName="branchId"  class="form-control"  >
        <option  value="" disabled selected>{{ 'Hr.SelectBranch' | translate }}</option>
        <option *ngFor="let item of branchData " [value]="item.Id">{{ item.NameAr }}</option>
      </select>
    </div>
    <div class="form-group mt-5">
      <label for="LevelId">{{ 'Hr.SelectParent' | translate }}</label>
      <select  (change)="onParentSelect($event)" id="LevelId" formControlName="LevelId"  class="form-control"  >
        <option  value="" disabled selected>{{ 'Hr.ParentId' | translate }}</option>
        <option *ngFor="let item of parentDropDown " [value]="item.Id">{{ item.NameAr }}</option>
      </select>
    </div>
    <div class="form-group mt-5">
      <label for="ParentId">{{ 'Hr.SelectStructures' | translate }}</label>
      <select   id="ParentId" formControlName="ParentId"  class="form-control"  >
        <option  value="" disabled selected>{{ 'Hr.LevelId' | translate }}</option>
        <option  *ngFor="let item of orgStructuresDataDropDown " [value]="item.Id">{{ item.NameAr }}</option>
      </select>
    </div>
    <div class="form-group mt-5">
      <label for="NameAr">{{ 'Hr.OrgStructNameAr' | translate }}</label>
      <input  id="NameAr" type="NameAr" formControlName="NameAr" required  class="form-control">
    </div>

    <div class="form-group mt-5">
      <label for="NameEn">{{ 'Hr.OrgStructNameEn' | translate }}</label>
      <input   id="NameEn" type="NameEn" formControlName="NameEn" required class="form-control">
    </div>

  </form>
</div>
<div class="table-responsive mt-1 ">
  <div class="col-md-3 mb-2 mt-2">
    <input (input)="onSearch($event)" class="form-control form-control-sm " type="search" placeholder="{{ 'navBar.Search' | translate }}">
  </div>

  <div class="table-container" id="pdfContent">

    <p-table
    #dt
    [rowsPerPageOptions]="[5, 10, 15, 20]"
    [paginator]="true"
    [rows]="5"
    [columns]="cols"
    [value]="orgStructuresData"
    sortMode="multiple" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}" >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th class="table-data" *ngFor="let col of columns" [pSortableColumn]="col.field" [style.text-align]="'right'">
            {{ col.header | translate }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
          <th class="ui-sortable-column table-data" [style.text-align]="'right'">
            {{ 'Actions' | translate }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-level let-columns="columns">
        <tr>
          <td *ngFor="let col of columns" [style.text-align]="'right'">
            <span class="table-data" *ngIf="col.field == 'ParentId'">
              {{ level[col.field] && level[col.field] !== 0 ? getLevel(level[col.field])?.NameAr : '' }}
            </span>
            <span class="table-data" *ngIf="col.field == 'LevelId'">
              {{level[col.field]&& level[col.field] !== 0 ? getParent(level[col.field])?.NameAr : '' }}
            </span>
            <span class="table-data" *ngIf="col.field == 'BranchId'">
              {{ getBranch(level[col.field])?.NameAr }}
            </span>
            <span class="table-data" *ngIf="col.field != 'LevelId' && col.field != 'ParentId'&& col.field != 'BranchId'">
              {{ level[col.field] }}
            </span>
          </td>
          <td [style.text-align]="'center'">
            <div style="text-align: center">
              <img src="assets/images/editIcon.png" class="mx-3" (click)="setEdit(level)" />
              <img src="assets/images/deleteTableIcon.png" class="mx-3" (click)="showDeleteConfirm(level)" />
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>


</div>
</div>
</div>
</div>
</div>
<div class="mt-2 text-center">
  <button type="submit" (click)="onSubmit(formorgStruct)" class="btn btn-success" >{{ 'Save' | translate }}</button>
  <button (click)="goHome()" class="btn btn-warning Dnone" id="editBtn">{{"Cancel" | translate}}</button>
</div>
