section {
  min-height: 100vh;
  margin-bottom: 10px;
}

.mask {
  min-height: 150vh; /* Increase the height */
  max-height: 100%;
  background-image: url(/assets/images/dcac7d5c-55b9-409a-88a2-16656f3c132d.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150% 120%;
  transition: background-image 300ms ease-in 200ms;
}

.mask h3 {
  font-size: 4rem;
  line-height: 1.5;
  color: #fff;
}

@media (max-width: 500px) {
  .mask {
    min-height: 75vh; /* Decrease the height */
    max-height: 75vh; /* Decrease the height */
  }
  .mask h3 {
    font-size: 3rem;
  }
}
.form select {
  font-size: 1.7rem;
  padding: 0.8rem 1.3rem;
  border: none !important;
  background-color: #f5f5f6 !important;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: relative;
  z-index: 1;
}

.form select::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;
}

.form select:focus {
  outline: none;
}
.form a,
h3 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.form h3 {
  font-size: 3.5rem;
}

.form input {
  font-size: 1.7rem;
  padding: 0.8rem 1.3rem; /* Adjust the padding to control height */
  border: none !important;
  background-color: #f5f5f6 !important;
}

.form input:focus {
  border: none !important;
}

.form a.forget {
  letter-spacing: 0.5px;
  font-weight: 400;
  font-size: 1.6rem;
}

.form button {
  border-radius: 10px;
  color: #fff;
  font-size: 1.9rem;
  background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
}

.eye {
  position: absolute;
  top: 0 !important;
  bottom: 0 !important;
  z-index: 99;
  font-size: 2rem;
  cursor: pointer;
  z-index: 99;
  display: flex;
  align-items: center;
  padding: 0 5px;
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.custom-textbox {
  height: 30px;
  width: 300px;
}
.add-button {
  margin-top: 5px;
  margin-bottom: 5px;

}
.table-data{
  font-size: 15px;
  border: none;
  /* text-align: right !important; */
}
.add-data-button {
  font-size: 18px;
  background-color:  #ff6c00;
  color: #fff;
  border: none;
}
.above-buttons{
  display: flex;
  margin-top: 5px;
}
.search-button {
  background-color: #ff6c00;
  color: #fff;
  border: none;
  height: 30px;
}

.table-container {
  overflow-x: auto;
}

.table {
  font-size: 16px;
}

.table th {
  background-color: #ff6c00;
  color: #fff;
}

.table td {
  vertical-align: middle;
}
.bottom-buttons{
  display: flex;
  justify-content: center;
  margin-top: 20px;

 }
 .bottom-buttons-style{
  background-color:  #ff6c00;
  color: #fff;
  border: none;

 }
 .button-space{
  margin-right : 10px;
 }
