<div class="createDiv">

  <div class="tab-pane fade show active" id="rounded-corner-pills-icon-home" role="tabpanel" aria-labelledby="rounded-corner-pills-icon-home-tab" style="min-height:300px">

    <div class="card bg-light mb-3">
        <div class="card-body">
          <h3>{{ "Hr.Specializationsnav" | translate }}</h3>
  <form #formElement [formGroup]="formSpecializations" (ngSubmit)="onSubmit(formSpecializations)" class="form">

    <div class="form-group mt-5">
      <label for="specializationsNameAr">{{ 'Hr.SpecializationsNameAr' | translate }}</label>
      <input  id="specializationsNameAr" type="specializationsNameAr" formControlName="NameAr" maxlength="100" required class="form-control">
    </div>

    <div class="form-group mt-5">
      <label for="specializationsNameEn">{{ 'Hr.SpecializationsNameEn' | translate }}</label>
      <input   id="specializationsNameEn" type="specializationsNameEn" formControlName="NameEn" maxlength="100"   class="form-control">
    </div>

    <div class="form-group mt-5" *ngIf="isEdit">
      <label for="StatusId">{{ 'Hr.SelectStatus' | translate }}</label>
      <select   id="StatusId" formControlName="StatusId"  class="form-control"  >
        <option  value="" disabled selected>{{ 'Hr.SelectStatus' | translate }}</option>
        <option *ngFor="let status of statusData " [value]="status.id">{{ status.name }}</option>
      </select>
    </div>
    <div class="form-group mt-5">
      <label for="notes">{{ 'Hr.Notes' | translate }}</label>
      <input   id="notes" type="notes" formControlName="notes" placeholder="{{ 'Hr.Notes' | translate }}" class="form-control">
    </div>
  </form>
</div>
<div class="table-responsive mt-1 ">
  <div class="col-md-3 mb-2 mt-2">
    <input (input)="onSearch($event)" class="form-control form-control-sm " type="search" placeholder="{{ 'navBar.Search' | translate }}">
  </div>

  <div class="table-container" id="pdfContent">

    <p-table
    #dt
    [rowsPerPageOptions]="[5, 10, 15, 20]"
    [paginator]="true"
    [rows]="5"
    [columns]="cols"
    [value]="specializationsData"
    sortMode="multiple" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}" >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th class="table-data" *ngFor="let col of columns" [pSortableColumn]="col.field" [style.text-align]="'right'">
            {{ col.header | translate }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
          <th class="ui-sortable-column table-data" [style.text-align]="'right'">
            {{ 'Actions' | translate }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-specializations let-columns="columns">
        <tr>
          <td *ngFor="let col of columns" [style.text-align]="'right'">
            <span class="table-data" *ngIf="col.field == 'SpecializationsId'">
              {{ getspecializations(specializations[col.field])?.NameAr }}
            </span>
            <span class="table-data" *ngIf="col.field == 'CreatedDate'">
              {{ specializations[col.field] | date:'shortDate' }}
            </span>
            <span class="table-data" *ngIf="col.field != 'SpecializationsId' &&col.field != 'CreatedDate'">
              {{ specializations[col.field] }}
            </span>
          </td>
          <td>
            <div style="text-align: center">
              <img src="assets/images/editIcon.png" class="mx-3" (click)=" setEdit(specializations)" />
              <img src="assets/images/deleteTableIcon.png" class="mx-3" (click)="showDeleteConfirm(specializations)" />
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>


</div>
</div>
</div>
</div>
</div>
<div class="mt-2 text-center">
  <button type="submit" (click)="onSubmit(formSpecializations)" class="btn btn-success" >{{ 'Save' | translate }}</button>
  <button  (click)="printPdf()" class="btn btn-info" >{{"Hr.Print" | translate}}</button>
  <button  (click)="exportData()" class="btn btn-info" id="viewBtn">{{"Hr.Export" | translate}}</button>
  <button (click)="goHome()" class="btn btn-warning Dnone" id="editBtn">{{"Cancel" | translate}}</button>
</div>
