<div class="col-7 mx-auto py-4 py-md-5 px-lg-4">
  <h3>{{ "Hr.Specializationsnav" | translate }}</h3>
  <form #formElement [formGroup]="formSpecializations" (ngSubmit)="OnSubmit(formSpecializations)" class="form">

    <div class="form-group mt-5">
      <input  id="NameAr" type="NameAr" formControlName="NameAr" required placeholder="{{ 'Hr.SpecializationsNameAr' | translate }}" class="form-control">
    </div>

    <div class="form-group mt-5">
      <input   id="NameEn" type="NameEn" formControlName="NameEn" required placeholder="{{ 'Hr.SpecializationsNameEn' | translate }}" class="form-control">
    </div>
    <div class="form-group mt-5" *ngIf="isEdit">
      <label for="StatusId">{{ 'Hr.SelectStatus' | translate }}</label>
      <select   id="StatusId" formControlName="StatusId"  class="form-control"  >
        <option  value="" disabled selected>{{ 'Hr.SelectStatus' | translate }}</option>
        <option *ngFor="let status of statusData " [value]="status.id">{{ status.name }}</option>
      </select>
    </div>
    <div class="form-group mt-5">
      <input   id="notes" type="notes" formControlName="notes" placeholder="{{ 'Hr.Notes' | translate }}" class="form-control">
    </div>
    <div class="bottom-buttons">
      <button type="submit"  class="d-block w-100 py-3"  >{{ 'Save' | translate }}</button>
    </div>

  </form>
</div>

<div class="container">

  <div class="search-container">
    <input (input)="onSearch($event)" class="form-control form-control-sm custom-textbox" type="search" placeholder="{{ 'navBar.Search' | translate }}">
  </div>

  <!-- <div class="table-container" class="add-button">
    <button (click)="addSpecializations()"  class="btn btn-primary add-data-button">{{"Hr.AddSpecializations"|translate}}</button>
  </div> -->
  <p-table
  [rowsPerPageOptions]="[5, 10, 15, 20]"
  [paginator]="true"
  [rows]="5"
  [columns]="cols"
  [value]="specializationsData"
  sortMode="multiple" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}"  #dt>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th class="table-data" *ngFor="let col of columns" [pSortableColumn]="col.field" [style.text-align]="'right'" >
          {{ col.header | translate }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
        <th class="ui-sortable-column table-data" [style.text-align]="'right'">
          {{ 'Actions' | translate }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-specializations let-columns="columns">
      <tr>
        <td *ngFor="let col of columns" [style.text-align]="'right'">
          <span class="table-data" *ngIf="col.field == 'CreatedDate'">
            {{ specializations[col.field] | date:'shortDate' }}
          </span>
          <span class="table-data" *ngIf="col.field == 'StatusId'">
            {{ getStatus(specializations[col.field]).name }}
          </span>
          <span class="table-data" *ngIf="col.field != 'CreatedDate' && col.field != 'StatusId'">
            {{ specializations[col.field] }}
          </span>
        </td>
        <td>
          <div style="text-align: center">
            <img src="assets/images/editIcon.png" class="mx-3" (click)=" setEdit(specializations)" />
            <img src="assets/images/deleteTableIcon.png" class="mx-3" (click)="showDeleteConfirm(specializations)" />
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>


</div>
<div class="bottom-buttons">
<button (click)="printPdf()" class="btn btn-primary add-data-button">{{"Hr.Print" | translate}}</button>
<span class="button-space"></span>
<button (click)="exportData()" class="btn btn-primary add-data-button">{{"Hr.Export" | translate}}</button>
<span class="button-space"></span>
<button (click)="goHome()" class="btn btn-primary add-data-button">{{"Cancel" | translate}}</button>
</div>
