<div class="createDiv">

  <div class="tab-pane fade show active" id="rounded-corner-pills-icon-home" role="tabpanel" aria-labelledby="rounded-corner-pills-icon-home-tab" style="min-height:300px">

    <div class="card bg-light mb-3">
        <div class="card-body">
            <h3>{{ "Hr.Country" | translate }}</h3>
  <form #formElement [formGroup]="formCountry" (ngSubmit)="onSubmit(formCountry)" class="form">

    <div class="form-group mt-5">
      <label for="countryNameAr">{{ 'Hr.CountryNameAr' | translate }}</label>
      <input  id="countryNameAr" type="countryNameAr" formControlName="countryNameAr" required class="form-control">
    </div>

    <div class="form-group mt-5">
      <label for="countryNameEn">{{ 'Hr.CountryNameEn' | translate }}</label>
      <input   id="countryNameEn" type="countryNameEn" formControlName="countryNameEn" required  class="form-control">
    </div>
    <div class="form-group mt-5">
      <label for="notes">{{ 'Hr.Notes' | translate }}</label>
      <input   id="notes" type="notes" formControlName="notes" placeholder="{{ 'Hr.Notes' | translate }}" class="form-control">
    </div>
  </form>
</div>
<div class="table-responsive mt-1 ">
  <div class="col-md-3 mb-2 mt-2">
    <input (input)="onSearch($event)" class="form-control form-control-sm " type="search" placeholder="{{ 'navBar.Search' | translate }}">
  </div>

  <div class="table-container" id="pdfContent">

    <p-table
    #dt
    [rowsPerPageOptions]="[5, 10, 15, 20]"
    [paginator]="true"
    [rows]="5"
    [columns]="cols"
    [value]="countryData"
    sortMode="multiple" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}" >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th class="table-data" *ngFor="let col of columns" [pSortableColumn]="col.field" [style.text-align]="'right'">
            {{ col.header | translate }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
          <th class="ui-sortable-column table-data" [style.text-align]="'right'">
            {{ 'Actions' | translate }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-country let-columns="columns">
        <tr>
          <td *ngFor="let col of columns" [style.text-align]="'right'">
            <span class="table-data" *ngIf="col.field == 'CountryId'">
              {{ getCountry(country[col.field])?.NameAr }}
            </span>
            <span class="table-data" *ngIf="col.field == 'CreatedDate'">
              {{ country[col.field] | date:'shortDate' }}
            </span>
            <span class="table-data" *ngIf="col.field != 'CountryId' &&col.field != 'CreatedDate'">
              {{ country[col.field] }}
            </span>
          </td>
          <td>
            <div style="text-align: center">
              <img src="assets/images/editIcon.png" class="mx-3" (click)=" setEdit(country)" />
              <img src="assets/images/deleteTableIcon.png" class="mx-3" (click)="showDeleteConfirm(country)" />
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>


</div>
</div>
</div>
</div>
</div>
<div class="mt-2 text-center">
  <button type="submit" (click)="onSubmit(formCountry)" class="btn btn-success" >{{ 'Save' | translate }}</button>
  <button  (click)="printPdf()" class="btn btn-info" >{{"Hr.Print" | translate}}</button>
  <button  (click)="exportData()" class="btn btn-info" id="viewBtn">{{"Hr.Export" | translate}}</button>
  <button (click)="goHome()" class="btn btn-warning Dnone" id="editBtn">{{"Cancel" | translate}}</button>
</div>
<p-toast position="top-center"></p-toast>
<<p-toast position="center" key="c" (onClose)="onDeleteReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div style="text-align: center">
      <i class="pi pi-exclamation-triangle" ></i>
      <h3>{{ message.summary }}</h3>
      <p>{{ message.detail }}</p>
    </div>
    <div class="bottom-buttons">
      <button type="button" pButton (click)="onDeleteConfirm()" label="Yes" class="ui-button-success"></button>
      <button type="button" pButton (click)="onDeleteReject()" label="No" class="ui-button-secondary"></button>
    </div>
  </ng-template>
</p-toast>
