<div class="container">
  <h2>{{ "Hr.Hospitalnav" | translate }}</h2>

  <div class="search-container">
    <input (input)="onSearch($event)" class="form-control form-control-sm custom-textbox" type="search" placeholder="{{ 'navBar.Search' | translate }}">
  </div>

  <div class="table-container" class="add-button">
    <button (click)="addHospital()"  class="btn btn-primary add-data-button">{{"Hr.AddHospital"|translate}}</button>
  </div>
  <p-table
  [rowsPerPageOptions]="[5, 10, 15, 20]"
  [paginator]="true"
  [rows]="5"
  [columns]="cols"
  [value]="hospitalData"
  sortMode="multiple" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}"  #dt>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th class="table-data" *ngFor="let col of columns" [pSortableColumn]="col.field" [style.text-align]="'right'" >
          {{ col.header | translate }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
        <th class="ui-sortable-column table-data" [style.text-align]="'right'">
          {{ 'Actions' | translate }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-hospital let-columns="columns">
      <tr>
        <td *ngFor="let col of columns" [style.text-align]="'right'">
          <span class="table-data" *ngIf="col.field == 'CreatedDate'">
            {{ hospital[col.field] | date:'shortDate' }}
          </span>
          <span class="table-data" *ngIf="col.field == 'StatusId'">
            {{ getStatus(hospital[col.field]).name | date:'shortDate' }}
          </span>
          <span class="table-data" *ngIf="col.field != 'CreatedDate' && col.field != 'StatusId'">
            {{ hospital[col.field] }}
          </span>
        </td>
        <td>
          <div style="text-align: center">
            <img src="assets/images/editIcon.png" class="mx-3" (click)=" setEdit(hospital)" />
            <img src="assets/images/deleteTableIcon.png" class="mx-3" (click)="showDeleteConfirm(hospital)" />
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>


</div>
<div class="bottom-buttons">
<button (click)="printPdf()" class="btn btn-primary add-data-button">{{"Hr.Print" | translate}}</button>
<span class="button-space"></span>
<button (click)="exportData()" class="btn btn-primary add-data-button">{{"Hr.Export" | translate}}</button>
<span class="button-space"></span>
<button (click)="goHome()" class="btn btn-primary add-data-button">{{"Cancel" | translate}}</button>
</div>
