<div class="col-7 mx-auto py-4 py-md-5 px-lg-4">
  <h3>{{ "Hr.Allowancenav" | translate }}</h3>
  <form [formGroup]="formAllowance" (ngSubmit)="OnSubmit(formAllowance)" class="form">

    <div class="form-group mt-5">
      <input  id="NameAr" type="NameAr" formControlName="NameAr" maxlength="100" required placeholder="{{ 'Hr.AllowanceNameAr' | translate }}" class="form-control">
    </div>

    <div class="form-group mt-5">
      <input   id="NameEn" type="NameEn" formControlName="NameEn" maxlength="100"  placeholder="{{ 'Hr.AllowanceNameEn' | translate }}" class="form-control">
    </div>
    <div class="form-group mt-5" *ngIf="isEdit">
      <label for="StatusId">{{ 'Hr.SelectStatus' | translate }}</label>
      <select   id="StatusId" formControlName="StatusId"  class="form-control"  >
        <option  value="" disabled selected>{{ 'Hr.SelectStatus' | translate }}</option>
        <option *ngFor="let status of statusData " [value]="status.id">{{ status.name }}</option>
      </select>
    </div>
    <div class="form-group mt-5">
      <input   id="notes" type="notes" formControlName="notes" placeholder="{{ 'Hr.Notes' | translate }}" class="form-control">
    </div>
    <div class="bottom-buttons">
      <button type="submit"  class="d-block w-100 py-3"  >{{ 'Save' | translate }}</button>
      <span class="button-space"></span>
      <button (click)="goHome()" class="btn btn-primary add-data-button">{{"Cancel" | translate}}</button>
    </div>

  </form>
</div>
