<div id="overlay">
        <div class="cv-spinner">
            <span class="spinner"></span>
        </div>
    </div>
    <div class="header-container fixed-top">
        <header class="header navbar navbar-expand-sm">
            <ul class="navbar-item flex-row ml-md-0 ml-auto pl-3">

                <li class="nav-item dropdown megamenu-dropdown d-none d-lg-flex">
                    <a href="javascript:void(0);" class="nav-link dropdown-toggle d-flex align-center text-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        الوصول السريع
                        <i class="las la-angle-down font-11 ml-1"></i>
                    </a>
                    <div class="dropdown-menu megamenu">
                      <li>
                        <a class="d-block text-center pointer dropdown-item"  [routerLink]="'/hr/city'">{{ "Hr.City" | translate }}</a>
                      </li>
                      <li>
                        <a class="d-block text-center pointer dropdown-item"  [routerLink]="'/hr/country'">{{ "Hr.Countrynav" | translate }}</a>
                      </li>
                      <li>
                        <a class="d-block text-center pointer dropdown-item"  [routerLink]="'/hr/nationality'">{{ "Hr.Nationalitynav" | translate }}</a>
                      </li>
                      <li>
                        <a class="d-block text-center pointer dropdown-item"  [routerLink]="'/hr/orgstructlevel'">{{ "Hr.Orgstruct" | translate }}</a>
                      </li>
                      <li>
                        <a class="d-block text-center pointer dropdown-item"  [routerLink]="'/hr/orgstructures'">{{ "Hr.Orgstructures" | translate }}</a>
                      </li>
                      <li>
                        <a class="d-block text-center pointer dropdown-item"  [routerLink]="'/hr/hospital'">{{ "Hr.Hospitalnav" | translate }}</a>
                      </li>
                      <li>
                        <a class="d-block text-center pointer dropdown-item"  [routerLink]="'/hr/allowence'">{{ "Hr.Allowencenav" | translate }}</a>
                      </li>
                      <li>
                        <a class="d-block text-center pointer dropdown-item"  [routerLink]="'/hr/specializations'">{{ "Hr.Specializationsnav" | translate }}</a>
                      </li>
                      <li>
                        <a class="d-block text-center pointer dropdown-item"  [routerLink]="'/hr/employee'">{{ "Hr.Employeenav" | translate }}</a>
                      </li>
                    </div>
                </li>

                <li class="nav-item dropdown megamenu-dropdown d-none d-lg-flex">
                    <a class="nav-link dropdown-toggle d-flex align-center text-primary" href="/Market/MarketItems">
                        المتجر
                    </a>
                </li>
            </ul>
            <ul class="navbar-item flex-row ml-md-auto">
                <li class="nav-item dropdown fullscreen-dropdown d-none d-lg-flex">
                    <a class="nav-link full-screen-mode" href="javascript:void(0);">
                        <i class="las la-compress" id="fullScreenIcon"></i>
                    </a>
                </li>
                <li class="nav-item dropdown language-dropdown">
                    <a href="javascript:void(0);" class="nav-link dropdown-toggle" id="language-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="las la-language"></i>
                    </a>
                    <div class="dropdown-menu position-absolute" aria-labelledby="language-dropdown">
                        <a class="dropdown-item d-flex" href="javascript:void(0);">
                            <img src="/lib/them/assets/img/flag/usa-flag.png" class="flag-width" alt="flag">
                            <span class="align-self-center">&nbsp;English</span>
                        </a>
                        <a class="dropdown-item d-flex" href="javascript:void(0);">
                            <img src="/lib/them/assets/img/flag/saudi-arabia-flag.png" class="flag-width" alt="flag">
                            <span class="align-self-center">&nbsp;Arabic</span>
                        </a>
                    </div>
                </li>

                <li class="nav-item   d-none d-lg-flex">
                    <span id="mainSubj" class=" mr-5"></span>
                </li>

            </ul>
            <span id="insertsTopPagePlace" class="float-left ml-5"></span>
            <span id="currentDate" class="float-left">12 August 2023</span>
            <span id="" class="float-left">/</span>
            <span id="currentTime" class="float-left">1:49 am</span>
            <ul class="navbar-item flex-row">
                <li class="nav-item dropdown header-setting">
                    <a href="javascript:void(0);" class="nav-link dropdown-toggle rightbarCollapse" data-placement="bottom">
                        <i class="las la-sliders-h"></i>
                    </a>
                </li>
            </ul>
        </header>
    </div>
    <div class="main-container" id="container">
      <div class="overlay"></div>
      <div class="search-overlay"></div>
      <div class="rightbar-overlay"></div>
      <div id="content" class="main-content">
        <div class="aa">
            <main role="main" class="">
               <router-outlet></router-outlet>
                <div id="HereModel">
                </div>
            </main>
        </div>
    </div>
    <div class="pos" id="DivSpinner" style="display: none;">
      <div class="loading-container">
          <div class="loading">
              <div class="l1">
                  <div></div>
              </div>
              <div class="l2">
                  <div></div>
              </div>
              <div class="l3">
                  <div></div>
              </div>
              <div class="l4">
                  <div></div>
              </div>
          </div>
      </div>
  </div>
  <div class="responsive-msg-component">
    <p>
        <a class="close-msg-component"><i class="las la-times"></i></a>
        Please reload the page when you change the viewport size to view the responsive functionalities correctly
    </p>
</div>
<div class="footer-wrapper">
  <div class="footer-section f-section-1">
      <p class="">
          Copyright © 2021 <a target="_blank" href="http://neptuneweb.xyz">جميع الحقوق محفوظة</a>,

          شركة الابتكار.
      </p>
  </div>
</div>
<div class="scroll-top-arrow" style="">
  <i class="las la-angle-up"></i>
</div>
