#accordionExample {
  overflow-y: auto !important;
}

.checkboxgroup {
  display: flex;
  flex-wrap: wrap;
  width: 120em;
  overflow: auto;
}

.checkboxgroup label {
  width: 7em;
  text-align: right;
  margin-right: 10px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}
select.ng-invalid.ng-touched {
  border: 1px solid red;
}
.invalid-alert {
  border: 1px solid red;

}
.p-datatable .p-datatable-thead > tr > th{
  color: white !important;
background:#172d50 !important ;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  background: #172d50 !important;
  color: #ffffff !important;
}
.p-tabview .p-tabview-nav{
  background: #172d50 !important;
}
select.form-control:not([size]):not([multiple]) {
  height: calc(2.35rem + 2px) !important;
}

select {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 5L0 3h4zm0 0L0 0h4z'/%3E%3C/svg%3E");
  background-position: left .5rem center;
  background-repeat: no-repeat;
  background-size: 1rem;
}
