#accordionExample {
  overflow-y: auto !important;
}

.checkboxgroup {
  display: flex;
  flex-wrap: wrap;
  width: 120em;
  overflow: auto;
}

.checkboxgroup label {
  width: 7em;
  text-align: right;
  margin-right: 10px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}
select.ng-invalid.ng-touched {
  border: 1px solid red;
}
.invalid-alert {
  border: 1px solid red;

}
.p-datatable .p-datatable-thead > tr > th{
  color: white !important;
background:#172d50 !important ;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  background: #172d50 !important;
  color: #ffffff !important;
}
.p-tabview .p-tabview-nav{
  background: #172d50 !important;
}
select.form-control:not([size]):not([multiple]) {
  height: calc(2.35rem + 2px) !important;
}
